ion-list,ion-header,ion-searchbar,ion-card  {max-width:700px;
}
ion-title { color:rgb(12, 99, 94);}
ion-item-divider {
    size:2px;
    font-size: 16px;
    color:rgb(63, 63, 63);
   padding:10px;
   background:white;

//    border-bottom:1px solid lightblue;
  
}

ion-searchbar {
    --box-shadow:none;border: 0;z-index:0;
    border-bottom:1px solid lightgray;
    text-align: left;
    color:gray;
}
#borderLeft {
    // border-left: 1px solid rgb(24, 156, 173);
    position: absolute;
    top: 25%;
    bottom: -15%;
    height:50%;
  }
#borderBottom{
  border-bottom: 1px solid lightgray;
   width:95%;
}
.verticalLine {
    width:1%;
    height:50px;
    background:green;
    margin-top: 0;
    position: relative;
    margin-left: 10%;
  }

ion-item {
    --padding-start: 18px;
  
    margin-right: 10px;
   color:gray;
    
    
    --min-height: 50px;
  }
ion-label {
    padding:10px;
    padding-left:10px;
    padding-right:10px;
    color:rgb(63, 63, 63);
    
}
ion-item {
    border:0;
    background:white;
    border-bottom:1px solid gray;
    color:rgb(63, 63, 63);
}
a {text-decoration: none;}