<center><ion-card>
  <ion-card-header>
    <ion-card-subtitle>InstaConvert</ion-card-subtitle>
    <ion-card-title>Data Storage</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-item>
      <ion-input type="number" [value]="range" (input)="setQuantity3($event.target.value)" (ionChange)="this.calculate()"></ion-input>

      <ion-select value={select1} placeholder="Select One" (ionChange)="setQuantity1($event.target.value)">
        <ion-select-option value="Bits">Bits</ion-select-option>
        <ion-select-option value="Bytes">Bytes</ion-select-option>
        <ion-select-option value="Kilobits">Kilobits</ion-select-option>
        <ion-select-option value="Kilobytes">Kilobytes</ion-select-option>
        <ion-select-option value="Megabits">Megabits</ion-select-option>
        <ion-select-option value="Megabytes">Megabytes</ion-select-option>
        <ion-select-option value="Gigabits">Gigabits</ion-select-option>
        <ion-select-option value="Gigabytes">Gigabytes</ion-select-option>
        <ion-select-option value="Terabits">Terabits</ion-select-option>
        <ion-select-option value="Terabytes">Terabytes</ion-select-option>
        <ion-select-option value="Petabits">Petabits</ion-select-option>
        <ion-select-option value="Petabytes">Petabytes</ion-select-option>
        <ion-select-option value="Exabits">Exabits</ion-select-option>
        <ion-select-option value="Exabytes">Exabytes</ion-select-option>

      </ion-select>
    </ion-item>
    <ion-item>
      <ion-input type="number" [value]="result" (input)="setQuantity4($event.target.value)" (ionChange)="this.calculate()"></ion-input>

      <ion-select value={select2} placeholder="Select One" (ionChange)="setQuantity2($event.target.value)">
        <ion-select-option value="Bits">Bits</ion-select-option>
        <ion-select-option value="Bytes">Bytes</ion-select-option>
        <ion-select-option value="Kilobits">Kilobits</ion-select-option>
        <ion-select-option value="Kilobytes">Kilobytes</ion-select-option>
        <ion-select-option value="Megabits">Megabits</ion-select-option>
        <ion-select-option value="Megabytes">Megabytes</ion-select-option>
        <ion-select-option value="Gigabits">Gigabits</ion-select-option>
        <ion-select-option value="Gigabytes">Gigabytes</ion-select-option>
        <ion-select-option value="Terabits">Terabits</ion-select-option>
        <ion-select-option value="Terabytes">Terabytes</ion-select-option>
        <ion-select-option value="Petabits">Petabits</ion-select-option>
        <ion-select-option value="Petabytes">Petabytes</ion-select-option>
        <ion-select-option value="Exabits">Exabits</ion-select-option>
        <ion-select-option value="Exabytes">Exabytes</ion-select-option>

      </ion-select>
    </ion-item>
      <ion-grid>
        <ion-row>
          <ion-col> <h1>{{range}} {{select1}} = {{result}} {{select2}} </h1></ion-col>
          
        </ion-row>
      </ion-grid>
  </ion-card-content>
</ion-card>
</center>

