<center><ion-card>
  <ion-card-header>
    <ion-card-subtitle>InstaConvert</ion-card-subtitle>
    <ion-card-title> Power</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-item lines=none>
      <ion-input type="number" [value]="range" (input)="setQuantity3($event.target.value)" (ionChange)="this.calculate()"></ion-input>

      <ion-select value={select1} placeholder="Select One" (ionChange)="setQuantity1($event.target.value)">
        <ion-select-option value="kilometer">kilometer</ion-select-option>
        <ion-select-option value="meters">meters</ion-select-option>
        <ion-select-option value="centimeters">centimeters</ion-select-option>
        <ion-select-option value="millimeters">millimeters</ion-select-option>
        <ion-select-option value="miles">miles</ion-select-option>
        <ion-select-option value="yards">yards</ion-select-option>
        <ion-select-option value="feet">feet</ion-select-option>
        <ion-select-option value="inches">inches</ion-select-option>
        <ion-select-option value="nauticalMiles">nauticalMiles</ion-select-option>
      </ion-select>

    </ion-item>
    <ion-item lines=none>
      <ion-input type="number" [value]="result" (input)="setQuantity4($event.target.value)" (ionChange)="this.calculate()"></ion-input>
      <ion-select   value={select2} placeholder="Select One" (ionChange)="setQuantity2($event.target.value)">
        <ion-select-option value="kilometer">kilometer</ion-select-option>
        <ion-select-option value="meters">meters</ion-select-option>
        <ion-select-option value="centimeters">centimeters</ion-select-option>
        <ion-select-option value="millimeters">millimeters</ion-select-option>
        <ion-select-option value="miles">miles</ion-select-option>
        <ion-select-option value="yards">yards</ion-select-option>
        <ion-select-option value="feet">feet</ion-select-option>
        <ion-select-option value="inches">inches</ion-select-option>
        <ion-select-option value="nauticalMiles">nauticalMiles</ion-select-option>    
      </ion-select>
    </ion-item>
      <ion-grid>
        <ion-row>
          <ion-col> <h1>{{range}} {{select1}} = {{result}} {{select2}} </h1></ion-col>
          
        </ion-row>
      </ion-grid>
  </ion-card-content>
</ion-card>
</center>

